﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="hotelform.aspx.cs" Inherits="hotelform" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lvldata" runat="server" Text="abc"></asp:Label>
    </div>
    </form>
</body>
</html>
